{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>{{ recipe.title }}</h2>
  <p>{{ recipe.description }}</p>
  <p><strong>Время приготовления:</strong> {{ recipe.cooking_time_minutes }} мин</p>

  {% if user == recipe.author %}
    <a href="{% url 'recipe_update' recipe.pk %}" class="btn btn-outline-warning">Редактировать</a>
    <a href="{% url 'recipe_delete' recipe.pk %}" class="btn btn-outline-danger">Удалить</a>
  {% endif %}
  <a href="{% url 'recipe_list' %}" class="btn btn-secondary">Назад к списку</a>
</div>
{% endblock %}